body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0b0b0b;

}

#app {
  text-align: center;
  margin: 50px;
  background-color: #fff;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;

}

.lesson-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#cart-page {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 50%;
}

@media (max-width: 768px) {

  .lesson,
  #cart-page {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

#toggle-cart {
  border: #0b0b0b;
}

.lesson {
  border: 2px solid #ccc;
  width: 250px;
  font-size: 14px;
  padding: 10px;
  margin: 10px;
  background-color: #ec28b1;

  border-radius: 15px;
  text-align: center;
}

button {
  background-color: #fff;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.cart-button {
  border: 2px solid #2a2828;
  margin: 5px;

}

.cart-button:disabled:hover {
  border: 2px solid #2a2828;
  background-color: hsl(0, 100%, 50%);
  color: white;
  cursor: pointer;
  margin: 5px;
  cursor: not-allowed;
}

/* Adding styles for disabled buttons  */
.disabled-button {
  border: 2px solid #2a2828;
  background-color: hsl(0, 100%, 50%);
  color: white;
  cursor: pointer;
  margin: 5px;
  cursor: not-allowed;
}


.hoverable-button:hover {
  background-color: hsl(0, 100%, 50%);
  color: rgb(21, 19, 19);
  cursor: pointer;
}

.hoverable-button:disabled:hover {
  background-color: #ef0b0b;
  color: #333;
  cursor: not-allowed;
}



/* Media query for smaller screens */
@media (max-width: 768px) {
  #app {
    margin: 10px;
    padding: 10px;
  }

  .lesson {
    width: calc(50% - 10px);
  }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
  .lesson {
    width: 100%;
  }
}

ul {
  list-style: none;
  padding: 0;
}


#search-results ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;


}

li {
  margin: 5px 0;
}

/* Style for input fields */
input[type="text"],
input[type="tel"] {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  margin-left: 5px;
}

/* Style for the checkout button */
button {
  background-color: #420b42;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;

}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


/* Style for the message about sorting order */
#sorting-message {
  margin-top: 10px;
  font-weight: bold;
}

.input-group {
  margin: 20px;
}

.input-group order {
  margin: 20px;
}

.sorting-container {


  align-items: left;
  text-align: center;
  padding: 10px;
  flex-wrap: wrap;
}

.sorting-group {
  margin: 10px;
  flex: 1;
}

/* Style for labels */
label {
  font-weight: bold;
}

#order {

  margin-right: 6px;
}

/* Style for select elements */
select {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 30%;
  box-sizing: border-box;
}

/* Style for the main heading */
.sorting-container>p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/*  styles for smaller screens */
@media (max-width: 768px) {

  .sorting-group {
    margin: 5px;
  }

  select {
    width: 100%;
  }
}

/* Style for the checkout completion message */
.checkout-message {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: center;
  margin: 10px 0;
  border-radius: 4px;
  font-weight: bold;
}